<div class="block">
  <h3>系统将同步以下数据</h3>
  <ul class='navigation'>
    <li><%= link_to_function "1.用户资料","" %></li>
    <li><%= link_to_function "2.店铺资料","" %></li>
    <li><%= link_to_function "3.店铺类目","" %></li>
    <li><%= link_to_function "4.商品资料","" %></li>
  </ul>
</div>
<div class="block">
  <h3>注意</h3>
  <div class='content'>
    <p>当您的商品数量较多时,同步数据可能会花费较多时间,请耐心等候</p>
  </div>
</div>
