<div class="block">
  <h3>批量更新信息</h3>
  <div class="content">
    <%=render "batch_update_form" %>
  </div>
</div>
<div class="block">
  <h3>从淘宝同步数据</h3>
  <div class="content">
    <p>当在宝贝列表中找不到您需要的商品信息时,请点击[同步数据]按钮,系统将从淘宝下载商品信息</p>
    <%= link_to "从淘宝同步数据",syn_page_taobao_books_path,:class => 'sexybutton sexysimple sexyblue'%>
  </div>
</div>

<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%=render "search_form" %>
  </div>
</div>
