<div class="block">
  <h3>批量更新信息</h3>
  <div class="content">
    <%=render "batch_update_form" %>
  </div>
</div>
<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%=render "search_form" %>
  </div>
</div>
