/* 公用布局 */
.float-left { float : left;}
.float-right { float : right;}

.border { border : 1px solid gray;}
.border-bottom { border-bottom : 1px dotted gray;}
.short-text {width : 60px;}
.very-short-text {width : 30px;}



